@model MVC_assignment_3.Models.Vegetables

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Vegetables</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="VegetableName" class="control-label"></label>
                <input asp-for="VegetableName" class="form-control" />
                <span asp-validation-for="VegetableName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VegetableForm" class="control-label"></label>
                <input asp-for="VegetableForm" class="form-control" />
                <span asp-validation-for="VegetableForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgRetailPrice" class="control-label"></label>
                <input asp-for="AvgRetailPrice" class="form-control" />
                <span asp-validation-for="AvgRetailPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreparationYieldFactor" class="control-label"></label>
                <input asp-for="PreparationYieldFactor" class="form-control" />
                <span asp-validation-for="PreparationYieldFactor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sizeofcupequivalent" class="control-label"></label>
                <input asp-for="Sizeofcupequivalent" class="form-control" />
                <span asp-validation-for="Sizeofcupequivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AvgPricepercupequivalent" class="control-label"></label>
                <input asp-for="AvgPricepercupequivalent" class="form-control" />
                <span asp-validation-for="AvgPricepercupequivalent" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
