@model IEnumerable<MVC_assignment_3.Models.Vegetables>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<body style="background-color:lavender;">
</body>

<table style="width:100%">
    <tr>
        <th>VegetableName</th>
        <th>VegetableForm</th>
        <th>AvgRetailPrice(per Pound)</th>
        <th>PreparationYieldFactor</th>
        <th>Sizeofcupequivalent(pounds)</th>
        <th>AvgPricepercupequivalent</th>
    </tr>
    <tr>
        <td>Potato</td>
        <td>Fresh</td>
        <td>0.60</td>
        <td>0.811</td>
        <td>0.265</td>
        <td>0.20</td>
    </tr>
    <tr>
        <td>Beets</td>
        <td>Canned</td>
        <td>0.94</td>
        <td>0.65</td>
        <td>0.375</td>
        <td>0.54</td>
    </tr>
    <tr>
        <td>Broccoli</td>
        <td>Florets</td>
        <td>2.36</td>
        <td>1</td>
        <td>0.342</td>
        <td>0.81</td>
    </tr>
    <tr>
        <td>Mushrooms</td>
        <td>Fresh-Sliced</td>
        <td>3.81</td>
        <td>1</td>
        <td>0.154</td>
        <td>0.59</td>
    </tr>
    <tr>
        <td>Tomatoes</td>
        <td>Fresh Roma and Plum</td>
        <td>1.29</td>
        <td>0.91</td>
        <td>0.375</td>
        <td>0.53</td>
    </tr>
</table>
