@model MVC_assignment_3.Models.AgriSnacks

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>AgriSnacks</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="SnackName" class="control-label"></label>
                <input asp-for="SnackName" class="form-control" />
                <span asp-validation-for="SnackName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PortionSize" class="control-label"></label>
                <input asp-for="PortionSize" class="form-control" />
                <span asp-validation-for="PortionSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerPortion" class="control-label"></label>
                <input asp-for="PricePerPortion" class="form-control" />
                <span asp-validation-for="PricePerPortion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaloriesPerPortion" class="control-label"></label>
                <input asp-for="CaloriesPerPortion" class="form-control" />
                <span asp-validation-for="CaloriesPerPortion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
