@model IEnumerable<MVC_assignment_3.Models.AgriSnacks>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<body style="background-color:lavender;">
</body>

<table style="width:100%">
    <tr>
        <th>AgriSnacks Name</th>
        <th>Portion Size</th>
        <th>Price per portion</th>
        <th>Calories per portion</th>
    </tr>
    <tr>
        <td>Chocolate Candy</td>
        <td>0.9</td>
        <td>0.24</td>
        <td>0.262</td>
    </tr>
    <tr>
        <td>Cookies</td>
        <td>1.0</td>
        <td>0.16</td>
        <td>123</td>
    </tr>
    <tr>
        <td>Corn Chips</td>
        <td>1.0</td>
        <td>0.21</td>
        <td>140</td>
    </tr>
    <tr>
        <td>Crackers</td>
        <td>0.9</td>
        <td>0.16</td>
        <td>114</td>
    </tr>
    <tr>
        <td>Cupcakes</td>
        <td>2.0</td>
        <td>0.34</td>
        <td>174</td>
    </tr>
</table>
