@model IEnumerable<MVC_assignment_3.Models.Fruits>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
<body style="background-color:lavender;">
</body>

<table style="width:100%">
    <tr>
        <th>FruitName</th>
        <th>FruitForm</th>
        <th>AvgRetailPrice(per Pound)</th>
        <th>PreparationYieldFactor</th>
        <th>Sizeofcupequivalent(pounds)</th>
        <th>AvgPricepercupequivalent</th>
    </tr>
    <tr>
        <td>Apple</td>
        <td>Fresh</td>
        <td>1.62</td>
        <td>0.9</td>
        <td>0.243</td>
        <td>0.44</td>
    </tr>
    <tr>
        <td>Apple</td>
        <td>AppleSauce</td>
        <td>1.05</td>
        <td>1</td>
        <td>0.540</td>
        <td>0.57</td>
    </tr>
    <tr>
        <td>Blueberries</td>
        <td>Fresh</td>
        <td>4.39</td>
        <td>0.95</td>
        <td>0.320</td>
        <td>1.48</td>
    </tr>
    <tr>
        <td>Blueberries</td>
        <td>Frozen</td>
        <td>3.47</td>
        <td>1</td>
        <td>0.331</td>
        <td>1.15</td>
    </tr>
    <tr>
        <td>Apricots</td>
        <td>Canned Juice</td>
        <td>1.47</td>
        <td>1</td>
        <td>0.540</td>
        <td>0.80</td>
    </tr>
</table>








