@{
    ViewData["Title"] = "Agricultural Products";
}
<h2>@ViewData["Title"]</h2>
<body style="background-color:powderblue;"></body>



    <p>
        Explore data that can help inform agriculture investment, innovation and policy strategy.<br />
        If you’re interested in agricultural production - (Fruits, Vegetables and agricultural by product Snacks),<br />
        food security, agricultural development, nutrition, natural resources, regional food systems, this page is for you.
    </p>
