@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<body style="background-color:powderblue;">
</body>

<address>
    Univeristy Of South Florida<br />
    4202 E Fowler Ave, Tampa, FL 33620<br />
    <abbr title="Phone">Phone:</abbr>
    813-974-2011
</address>


<div class="row">
    <div class="col-md-4">
        <img src="~/images/Nivedita.jpg" alt="Fruits" height="280" width="200" /><br />
        <strong>Nivedita Mangal:</strong> <a href="mailto:Support@mail.usf.edu">nmangal@mail.usf.edu</a><br />
    </div>
<div class="row">
        <div class="col-md-4">
            <img src="~/images/Munja.jpg" alt="Fruits" height="280" width="200" /><br />
            <strong>Munja Solanke:</strong> <a href="mailto:Support@mail.usf.edu">msolanke@mail.usf.edu</a><br />
        </div>
<div class="row">
    <div class="col-md-4">
        <img src="~/images/Yusi.jpg" alt="Fruits" height="280" width="200" /><br />
        <strong>Yusi Wei:</strong> <a href="mailto:Support@mail.usf.edu">yusiwei@mail.usf.edu</a>
    </div>

